@using AccounterApplication.Web.Controllers
@using AccounterApplication.Common.Enumerations;
@using AccounterApplication.Web.ViewModels.Components

@using Resources = AccounterApplication.Common.LocalizationResources.Views.Components.ComponentsViewsResources;

@model ComponentsListingViewModel

@{
    ViewData["Title"] = Resources.Funds;
}

<div class="row mb-5">
    <div class="col">
        <h1>@ViewData["Title"]</h1>
    </div>
    <div class="col">
        <div class="float-right">
            <a class="btn btn-secondary btn-icon-split"
               asp-controller="@(nameof(ComponentsController).Replace(nameof(Controller), string.Empty))"
               asp-action="@(nameof(ComponentsController.CreateComponent))">
                <span class="icon text-white-50">
                    <i class="fas fa-arrow-right"></i>
                </span>
                <span class="text">@ButtonsResources.CreateFund</span>
            </a>
        </div>
    </div>
</div>

@foreach (var component in Model.Components)
{
    <div class="row">
        <div class="col-xl-12 col-md-6 mb-2">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-md-4">
                            <div class="text-lg font-weight-bold text-primary text-uppercase mb-1">@component.Name - @component.CurrencyCode</div>
                            <div class="h5 mb-0 font-weight-bold amount-primary">@component.CurrencySign @component.Amount</div>
                            <div class="h6 mb-0 text-gray-700">@Resources.Available</div>
                        </div>
                        @if (component.ComponentTypeId.Equals((int)ComponentTypes.SavingsComponent))
                        {
                            <div class="col-md-3 mr-md-3 float-left">
                                <a class="btn btn-no-shadow"
                                   asp-controller="@(nameof(ComponentsController).Replace(nameof(Controller), string.Empty))"
                                   asp-action="@(nameof(ComponentsController.SaveOrWithdraw))"
                                   asp-route-id="@component.Id">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </a>
                                <div class="h6 mb-0 text-gray-700">@Resources.SaveOrWithdraw</div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-3 mr-md-3 float-left">
                                <a class="btn btn-no-shadow"
                                   asp-controller="@(nameof(ComponentsController).Replace(nameof(Controller), string.Empty))"
                                   asp-action="@(nameof(ComponentsController.AddAmount))"
                                   asp-route-id="@component.Id">
                                    <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                                </a>
                                <div class="h6 mb-0 text-gray-700">@Resources.AddAmount</div>
                            </div>
                        }
                        <div class="col-md-auto mr-md-3">
                            <a href="#" class="btn btn-no-shadow trigger-rename"
                               data-id="@component.Id"
                               data-controller="@nameof(ComponentsController).Replace(nameof(Controller), string.Empty)"
                               data-action="@nameof(ComponentsController)"
                               data-modal-title="@MessagesResources.Confirmation"
                               data-body-message="@MessagesResources.DeleteExpenseConfirmation"
                               data-button-delete="@ButtonsResources.Delete"
                               data-button-cancel="@ButtonsResources.Cancel"
                               data-redirect-url="@Url.Action(nameof(ComponentsController.Index), nameof(ComponentsController).Replace(nameof(Controller), string.Empty))">
                                <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                            </a>
                            <div class="h6 mb-0 text-gray-700">@Resources.Rename</div>
                        </div>
                        <div class="col-md-auto float-right">
                            <a href="#" class="btn btn-no-shadow trigger-delete"
                               data-id="@component.Id"
                               data-controller="@nameof(ComponentsController).Replace(nameof(Controller), string.Empty)"
                               data-action="@nameof(ComponentsController)"
                               data-modal-title="@MessagesResources.Confirmation"
                               data-body-message="@MessagesResources.DeleteExpenseConfirmation"
                               data-button-delete="@ButtonsResources.Delete"
                               data-button-cancel="@ButtonsResources.Cancel"
                               data-redirect-url="@Url.Action(nameof(ComponentsController.Index), nameof(ComponentsController).Replace(nameof(Controller), string.Empty))">
                                <i class="fas fa-trash fa-2x text-gray-300"></i>
                            </a>
                            <div class="h6 mb-0 text-gray-700">@Resources.DeleteComponent</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}