@using AccounterApplication.Web.Controllers
@using AccounterApplication.Common.GlobalConstants
@using AccounterApplication.Web.ViewModels.Expenses
@using Resources = AccounterApplication.Common.LocalizationResources.Views.Expenses.ExpensesViewsResources;

@model ExpenseInputModel
@{
    ViewData["Title"] = Resources.EditExpense;
}

<div class="row mb-5">
    <div class="col">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="col-md-6">
    <form asp-controller="@nameof(ExpensesController).Replace(nameof(Controller), string.Empty)" asp-action="@nameof(ExpensesController.AddExpense)" class="form" method="post">
        <div class="form-group">
            <input asp-for="Id" hidden />
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ExpenseAmount"></label>
            <input asp-for="ExpenseAmount" class="form-control" />
            <span asp-validation-for="ExpenseAmount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="DateOfExpense"></label>
            <input asp-for="DateOfExpense" class="form-control" />
            <span asp-validation-for="DateOfExpense" class="text-danger"></span>
        </div>
        <hr class="my-4" />
        <input type="submit" asp-route-submitType="@ButtonValueConstants.ButtonSubmit" value=@ButtonsResources.Update class="btn btn-primary btn-outline-dark" />
        <input type="submit" asp-route-submitType="@ButtonValueConstants.ButtonCancel" value=@ButtonsResources.Cancel class="btn btn-light btn-outline-dark" />
    </form>

</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}