@using AccounterApplication.Web.Controllers
@using AccounterApplication.Web.ViewModels.Expenses
@using Resources = AccounterApplication.Common.LocalizationResources.Views.Expenses.ExpensesViewsResources

@{
    ViewData["Title"] = Resources.Expenses;
}

@model ExpensesListingViewModel


<div class="row mb-5">
    <div class="col">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="card shadow-lg mb-lg-4">
    <div class="table-responsive">
        <table class="table table-borderless table-hover" cellspacing="0">
            <thead class="card-header py-3 thead-light text-gray-200">
                <tr>
                    <th scope="col">
                        <a href="#" class="th-sortable sort-date-expenses" data-sort-type="ascending" data-url="@Url.Action(nameof(ExpensesController.GetSortedByDate), nameof(ExpensesController).Replace(nameof(Controller), string.Empty))">
                            @Resources.Date
                            <i class="fa fa-sort" aria-hidden="true"></i>
                        </a>
                    </th>
                    <th scope="col">
                        <a href="#" class="th-sortable sort-amount-expenses" data-sort-type="ascending" data-url="@Url.Action(nameof(ExpensesController.GetSortedByAmount), nameof(ExpensesController).Replace(nameof(Controller), string.Empty))">
                            @Resources.Amount
                            <i class="fa fa-sort" aria-hidden="true"></i>
                        </a>
                    </th>
                    <th scope="col">
                        <a href="#" class="th-sortable sort-description-expenses" data-sort-type="ascending" data-url="@Url.Action(nameof(ExpensesController.GetSortedByDescription), nameof(ExpensesController).Replace(nameof(Controller), string.Empty))">
                            @Resources.Description
                            <i class="fa fa-sort" aria-hidden="true"></i>
                        </a>
                    </th>
                    <th scope="col">
                        <div class="dropdown dropdown-expenseGroups">
                            <a href="#" class="th-dropdown dropdown-toggle" id="dropdownExpenseGroups" data-toggle="dropdown" data-boundary="viewport" aria-haspopup="true" aria-expanded="false">
                                @Resources.ExpenseGroup
                            </a>
                            <div class="dropdown-menu animated--fade-in" aria-labelledby="dropdownExpenseGroups" data-url="@Url.Action(nameof(ExpensesController.GetGrouped), nameof(ExpensesController).Replace(nameof(Controller), string.Empty))">
                                <a class="dropdown-item dropdown-item-toggle-group-expenses" href="#" data-id="0">All</a>
                                <div class="dropdown-divider"></div>
                                @foreach (var expenseGroupSelectListItem in Model.ExpenseGroupListItems)
                                {
                                    <a class="dropdown-item dropdown-item-toggle-group-expenses" href="#" data-id="@expenseGroupSelectListItem.Value">@expenseGroupSelectListItem.Text</a>
                                }
                            </div>
                        </div>

                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="expenses-table-body">
                <partial name="_ExpensesTableBodyPartial" />
            </tbody>
        </table>
        <input type="hidden" name="expenseGroupSelectedValue" value="0" />
    </div>
</div>

@section Scripts
{
    <script src="~/js/table-functions.js" type="text/javascript" asp-append-version="true"></script>
}
