@using AccounterApplication.Common.GlobalConstants
@using AccounterApplication.Web.Controllers
@using Microsoft.AspNetCore.Localization;

@inject IViewLocalizer Localizer;

@{
    string culture = string.Empty;

    if (Context.Request.Cookies.TryGetValue(CookieRequestCultureProvider.DefaultCookieName, out string langCookie))
    {
        culture = langCookie;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - @SystemConstants.SystemName</title>

    <environment names="Development">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="~/css/all.css" type="text/css">
        <link rel="stylesheet" href="~/css/sb-admin-2.css" type="text/css">
        <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    </environment>
    @*<environment names="Staging,Production">
            <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
            <link rel="stylesheet" href="~/css/all.min.css" type="text/css">
            <link rel="stylesheet" href="~/css/sb-admin-2.min.css" type="text/css">
            <link rel="stylesheet" href="~/css/site.css" type="text/css" />
        </environment>*@

    @RenderSection("Styles", required: false)

</head>
<body>
    <div id="wrapper">
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="Home" asp-action="Index">
                <div class="sidebar-brand-icon">
                    <img src="~/images/logo2.png">
                </div>
                <div class="sidebar-brand-text mx-3">@SystemConstants.SystemName</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link"
                   asp-controller="@(nameof(UserDashboardController).Replace(nameof(Controller), string.Empty))"
                   asp-action="@(nameof(UserDashboardController.Index))">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>@Localizer["Dashboard"]</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseExpenses" aria-expanded="true" aria-controls="collapseExpenses">
                    <i class="fas fa-fw fa-table"></i>
                    <span>@Localizer["Expenses"]</span>
                </a>
                <div id="collapseExpenses" class="collapse" aria-labelledby="headingExpenses" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item"
                           asp-controller="@(nameof(ExpensesController).Replace(nameof(Controller), string.Empty))"
                           asp-action="@(nameof(ExpensesController.Index))">@Localizer["Overview"]</a>
                        <a class="collapse-item"
                           asp-controller="@(nameof(ExpensesController).Replace(nameof(Controller), string.Empty))"
                           asp-action="@(nameof(ExpensesController.AddExpense))">@Localizer["Add Expense"]</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIncomes" aria-expanded="true" aria-controls="collapseIncomes">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>@Localizer["Incomes"]</span>
                </a>
                <div id="collapseIncomes" class="collapse" aria-labelledby="headingIncomes" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item"
                           asp-controller="@(nameof(IncomesController).Replace(nameof(Controller), string.Empty))"
                           asp-action="@nameof(IncomesController.Index)">@Localizer["Overview"]</a>
                        <a class="collapse-item"
                           asp-controller="@(nameof(IncomesController).Replace(nameof(Controller), string.Empty))"
                           asp-action="@(nameof(IncomesController.AddMonthlyIncome))">@Localizer["Add Income"]</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider">

            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <header>
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <div class="navbar-nav ml-auto">
                            <span class="margin-15 switch-label-left">BG</span>
                            <div class="switch-wrap">
                                @if (culture == string.Empty || culture.Contains("en-US"))
                                {
                                    <input class="switch-input" type="checkbox" id="switchLang" checked />
                                }
                                else if (culture.Contains("bg-BG"))
                                {
                                    <input class="switch-input" type="checkbox" id="switchLang" />
                                }
                                <label class="slider-v3 margin-15" for="switchLang"></label>
                            </div>
                            <span class="margin-15 switch-label-right">EN</span>
                            <div class="topbar-divider d-none d-sm-block"></div>
                            <partial name="_LoginPartial" />
                        </div>
                    </nav>
                </header>
                <div class="container">
                    <partial name="_CookieConsentPartial" />
                    <partial name="_AlertMessagesPartial" />
                    <main role="main" class="p-0">
                        @RenderBody()
                    </main>
                </div>
            </div>
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 2020 - @SystemConstants.SystemName</span>
                        <a class="icons8" href="https://icons8.com/icon/3S2oxo1xZqhQ/transaction">Transaction icon by Icons8</a>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/js/jquery/jquery.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/js/jquery/jquery.easing.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/js/jquery/jquery.cookie.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/js/sb-admin-2.js" type="text/javascript" asp-append-version="true"></script>
        <script src="~/js/site.js" type="text/javascript" asp-append-version="true"></script>
    </environment>
    @*<environment names="Staging,Production">
            <script src="~/lib/jquery/dist/jquery.min.js" type="text/javascript" asp-append-version="true"></script>
            <script src="~/js/jquery/jquery.min.js" type="text/javascript" asp-append-version="true"></script>
            <script src="~/js/jquery/jquery.easing.min.js" type="text/javascript" asp-append-version="true"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" type="text/javascript" asp-append-version="true"></script>
            <script src="~/js/sb-admin-2.min.js" type="text/javascript" asp-append-version="true"></script>
            <script src="~/js/site.js" type="text/javascript" asp-append-version="true"></script>
        </environment>*@

    @RenderSection("Scripts", required: false)
</body>
</html>
