@using AccounterApplication.Web.Controllers
@using AccounterApplication.Web.ViewModels.MonthlyIncomes

@model MonthlyIncomesListingViewModel

@foreach (var income in Model.MonthlyIncomes)
{
    <tr class="text-gray-800">
        <td class="cell-clickable-edit pointer" data-url="@Url.Action(nameof(IncomesController.EditMonthlyIncome), nameof(IncomesController).Replace(nameof(Controller), string.Empty))" data-id="@income.Id">@income.IncomePeriod</td>
        <td class="cell-clickable-edit pointer" data-url="@Url.Action(nameof(IncomesController.EditMonthlyIncome), nameof(IncomesController).Replace(nameof(Controller), string.Empty))" data-id="@income.Id">@income.Amount</td>
        <td class="cell-clickable-edit pointer" data-url="@Url.Action(nameof(IncomesController.EditMonthlyIncome), nameof(IncomesController).Replace(nameof(Controller), string.Empty))" data-id="@income.Id">@income.ComponentName</td>
        <td>
            <a href="#" class="btn btn-no-shadow trigger-delete"
               data-id="@income.Id"
               data-controller="@nameof(IncomesController).Replace(nameof(Controller), string.Empty)"
               data-action="@nameof(IncomesController.DeleteMonthlyIncome)"
               data-modal-title="@MessagesResources.Confirmation"
               data-body-message="@MessagesResources.DeleteIncomeConfirmation"
               data-button-delete="@ButtonsResources.Delete"
               data-button-cancel="@ButtonsResources.Cancel"
               data-redirect-url="@Url.Action(nameof(IncomesController.Index), nameof(IncomesController).Replace(nameof(Controller), string.Empty))">
                <i class="fas fa-trash"></i>
            </a>
        </td>
    </tr>
}
