@using AccounterApplication.Web.Controllers
@using AccounterApplication.Common.GlobalConstants
@using AccounterApplication.Web.ViewModels.MonthlyIncomes

@using Resources = AccounterApplication.Common.LocalizationResources.Views.MonthlyIncomes.IncomesViewsResources;

@model MonthlyIncomeInputModel

@{
    ViewData["Title"] = Resources.AddMonthlyIncome;
}

<div class="row mb-5">
    <div class="col">
        <h1>@ViewData["Title"]</h1>
    </div>
</div>

<div class="col-md-6">
    <form asp-controller="@nameof(IncomesController).Replace(nameof(Controller), string.Empty)" asp-action="@(nameof(IncomesController.AddMonthlyIncome))" class="form" method="post">
        <div class="form-group">
            <label asp-for="Amount"></label>
            <input asp-for="Amount" class="form-control" data-val="false" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="IncomePeriod"></label>
            <input asp-for="IncomePeriod" class="form-control" />
            <span asp-validation-for="IncomePeriod" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ComponentId"></label>
            <select asp-for="ComponentId" class="form-control" asp-items="@Model.ComponentsSelectListItems"></select>
            <span asp-validation-for="ComponentId" class="text-danger"></span>
        </div>
        <hr />
        <input type="submit" value="@ButtonsResources.Add" class="btn btn-primary btn-outline-dark" />
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}