@using AccounterApplication.Web.Controllers;
@using AccounterApplication.Web.ViewModels.MonthlyIncomes;
@using Resources = AccounterApplication.Common.LocalizationResources.Views.MonthlyIncomes.IncomesViewsResources;

@model MonthlyIncomesListingViewModel

@{
    ViewData["Title"] = Resources.MonthlyIncomes;
}

@section Styles
{
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css" type="text/css" />
}


<h1>@ViewData["Title"]</h1>

<div class="card shadow-lg mb-lg-4">
    <div class="table-responsive">
        <table class="table table-borderless table-hover" cellspacing="0">
            <thead class="card-header py-3 thead-light text-gray-200">
                <tr>
                    <th scope="col">@Resources.Date</th>
                    <th scope="col">@Resources.Amount</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var income in Model.MonthlyIncomes)
                {
                    <tr class="text-gray-800">
                        <td class="cell-clickable-edit" data-url="@Url.Action("EditMonthlyIncome", "Incomes")" data-id="@income.Id">@income.IncomePeriod</td>
                        <td class="cell-clickable-edit" data-url="@Url.Action("EditMonthlyIncome", "Incomes")" data-id="@income.Id">@income.Amount</td>
                        <td>
                            <a href="#" class="btn btn-no-shadow trigger-delete"
                               data-id="@income.Id"
                               data-controller="@nameof(IncomesController).Replace(nameof(Controller), string.Empty)"
                               data-action="@nameof(IncomesController.DeleteMonthlyIncome)"
                               data-modal-title="@MessagesResources.Confirmation"
                               data-body-message="@MessagesResources.DeleteIncomeConfirmation"
                               data-button-delete="@ButtonsResources.Delete"
                               data-button-cancel="@ButtonsResources.Cancel"
                               data-redirect-url="@Url.Action(nameof(IncomesController.Index), nameof(IncomesController).Replace(nameof(Controller), string.Empty))">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/js/custom/edit.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/custom/delete.js" type="text/javascript" asp-append-version="true"></script>
}