@using AccounterApplication.Web.Controllers;
@using AccounterApplication.Web.ViewModels.MonthlyIncomes;
@using Resources = AccounterApplication.Common.LocalizationResources.Views.MonthlyIncomes.IncomesViewsResources;

@model MonthlyIncomesListingViewModel

@{
    ViewData["Title"] = Resources.MonthlyIncomes;
}

@section Styles
{
    <link rel="stylesheet" href="~/css/dataTables.bootstrap4.min.css" type="text/css" />
}


<h1>@ViewData["Title"]</h1>

<div class="card shadow-lg mb-lg-4">
    <div class="table-responsive">
        <table class="table table-borderless table-hover" cellspacing="0">
            <thead class="card-header py-3 thead-light text-gray-200">
                <tr>
                    <th scope="col">
                        <a href="#" class="th-sortable sort-date-incomes" data-sort-type="ascending" data-url="@Url.Action(nameof(IncomesController.GetSortedByDate), nameof(IncomesController).Replace(nameof(Controller), string.Empty))">
                            @Resources.Date
                            <i class="fa fa-sort" aria-hidden="true"></i>
                        </a>
                    </th>
                    <th scope="col">
                        <a href="#" class="th-sortable sort-amount-incomes" data-sort-type="ascending" data-url="@Url.Action(nameof(IncomesController.GetSortedByAmount), nameof(IncomesController).Replace(nameof(Controller), string.Empty))">
                            @Resources.Amount
                            <i class="fa fa-sort" aria-hidden="true"></i>
                        </a>
                    </th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="incomes-table-body">
               <partial name="_MonthlyIncomesTableBodyPartial" />
            </tbody>
        </table>
    </div>
</div>

@section Scripts
{
    <script src="~/js/custom/sort.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/custom/edit.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/js/custom/delete.js" type="text/javascript" asp-append-version="true"></script>
}