@using AccounterApplication.Web.Areas.Administration.Controllers;

@using Resources = AccounterApplication.Common.LocalizationResources.Areas.Administration.Views.Nomenclatures.NomenclatureViewResources;

@{
    ViewData["Title"] = Resources.Nomenclatures;

    string componentTypesController = nameof(ComponentTypesController).Replace(nameof(Controller), string.Empty);
    string currenciesController = nameof(CurrenciesController).Replace(nameof(Controller), string.Empty);
    string expenseGroupsController = nameof(ExpenseGroupsController).Replace(nameof(Controller), string.Empty);
}

<div class="row mb-5">
    <div class="col">
        <h1 class="text-gray-800">@ViewData["Title"]</h1>
    </div>
</div>
<div class="row mb-lg-3">
    <div class="col">
        <ul class="list-group">
            <li class="list-group-item list-group-item-action border-left-primary">
                <a asp-area="Administration" asp-controller="@componentTypesController" asp-action="@nameof(ComponentTypesController.Index)">@Resources.ComponentTypes</a>
            </li>
            <li class="list-group-item list-group-item-action border-left-primary">
                <a asp-area="Administration" asp-controller="@currenciesController" asp-action="@nameof(CurrenciesController.Index)">@Resources.Currencies</a>
            </li>
            <li class="list-group-item list-group-item-action border-left-primary">
                <a asp-area="Administration" asp-controller="@expenseGroupsController" asp-action="@nameof(ExpenseGroupsController.Index)">@Resources.ExpenseGroups</a>
            </li>
        </ul>
    </div>
</div>
