@using AccounterApplication.Web.ViewModels.Expenses
@using Resources = AccounterApplication.Common.LocalizationResources.Views.UserDashboard.UserDashboardResources

@model IEnumerable<ExpenseViewModel>

@{
    int countOfExpenses = Model.Count();
}


@for (int i = 0; i < countOfExpenses; i++)
{
    <div class="row no-gutters align-items-center">
        <div class="col-md-4 mr-md-3">
            <div class="h5 mb-0 font-weight-bold amount-primary">@Model.ElementAt(i).ExpenseAmount</div>
            <div class="h6 mb-0 text-gray-700">@Model.ElementAt(i).ExpenseDate</div>
        </div>
        <div class="col-md-4 mr-md-3">
            <div class="h5 mb-0 font-weight-bold text-gray-800">@Model.ElementAt(i).Description</div>
            <div class="h6 mb-0 text-gray-700">@Model.ElementAt(i).ExpenseGroupName</div>
        </div>
        <div class="col-md-auto mr-md-3">
            <div class="h6 mb-0 text-gray-700">@Model.ElementAt(i).ComponentName</div>
        </div>
    </div>

    if (i != (countOfExpenses - 1))
    {
        <hr class="my-4" />
    }
}
